.t50 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tx50 {
  left: 50%;
  transform: translateX(-50%);
}
.ty50 {
  top: 50%;
  transform: translateY(-50%);
}
.cw {
  color: #fff;
}
.bw {
  background: #fff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fb {
  font-weight: bold;
}
.ib {
  display: inline-block !important;
  vertical-align: middle;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.cp {
  cursor: pointer;
}
.none {
  display: none !important;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}
.mainSection {
  min-height: 100vh;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease 0s;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(80px);
  opacity: 0;
}
.slideY-fade-enter-active,
.slideY-fade-leave-active {
  transition: all 0.3s ease 0s;
}
.slideY-fade-enter,
.slideY-fade-leave-to {
  transform: translateY(40px);
  opacity: 0;
}
.scale-fade-enter-active,
.scale-fade-leave-active {
  transition: all 0.4s ease 0s;
}
.scale-fade-enter,
.scale-fade-leave-to {
  transform: scale(0);
  opacity: 0;
}
.practice,
.inventory,
.interlocution,
.shop,
.skill,
.skillPanel {
  padding-bottom: .7rem;
}
.practice .head,
.inventory .head,
.interlocution .head,
.shop .head,
.skill .head,
.skillPanel .head {
  padding: .15rem;
  background: #a4b0be;
  color: #fff;
}
.practice .tab,
.inventory .tab,
.interlocution .tab,
.shop .tab,
.skill .tab,
.skillPanel .tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .15rem;
}
.practice .tab button,
.inventory .tab button,
.interlocution .tab button,
.shop .tab button,
.skill .tab button,
.skillPanel .tab button {
  display: block;
  width: 45%;
  margin-top: .075rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ff6b81;
}
.practice .tab button:nth-of-type(1),
.inventory .tab button:nth-of-type(1),
.interlocution .tab button:nth-of-type(1),
.shop .tab button:nth-of-type(1),
.skill .tab button:nth-of-type(1),
.skillPanel .tab button:nth-of-type(1),
.practice .tab button:nth-of-type(2),
.inventory .tab button:nth-of-type(2),
.interlocution .tab button:nth-of-type(2),
.shop .tab button:nth-of-type(2),
.skill .tab button:nth-of-type(2),
.skillPanel .tab button:nth-of-type(2) {
  margin-top: 0;
}
.practice .tab button.active,
.inventory .tab button.active,
.interlocution .tab button.active,
.shop .tab button.active,
.skill .tab button.active,
.skillPanel .tab button.active {
  background: #ff6b81;
  border-width: 1px;
  border-style: solid;
  border-color: #ff6b81;
  color: #fff;
}
.practice .equipmentsItemsList .content li,
.inventory .equipmentsItemsList .content li,
.interlocution .equipmentsItemsList .content li,
.shop .equipmentsItemsList .content li,
.skill .equipmentsItemsList .content li,
.skillPanel .equipmentsItemsList .content li {
  margin-bottom: 0;
}
.practice .content > p,
.inventory .content > p,
.interlocution .content > p,
.shop .content > p,
.skill .content > p,
.skillPanel .content > p {
  margin-bottom: .15rem;
  text-align: center;
  color: #ff6348;
}
.practice .content li,
.inventory .content li,
.interlocution .content li,
.shop .content li,
.skill .content li,
.skillPanel .content li {
  margin-bottom: .1rem;
  padding: .12rem;
  border-top: 1px solid #a4b0be;
  border-bottom: 1px solid #a4b0be;
}
.practice .content li + li,
.inventory .content li + li,
.interlocution .content li + li,
.shop .content li + li,
.skill .content li + li,
.skillPanel .content li + li {
  border-top: none;
}
.practice .content li .name,
.inventory .content li .name,
.interlocution .content li .name,
.shop .content li .name,
.skill .content li .name,
.skillPanel .content li .name {
  display: block;
  margin-bottom: .1rem;
  font-size: .14rem;
  font-weight: bold;
}
.practice .content li.no,
.inventory .content li.no,
.interlocution .content li.no,
.shop .content li.no,
.skill .content li.no,
.skillPanel .content li.no {
  border-color: #57606f;
  background: #57606f;
  color: #fff;
}
.practice .content li.no .i1,
.inventory .content li.no .i1,
.interlocution .content li.no .i1,
.shop .content li.no .i1,
.skill .content li.no .i1,
.skillPanel .content li.no .i1,
.practice .content li.no .i2,
.inventory .content li.no .i2,
.interlocution .content li.no .i2,
.shop .content li.no .i2,
.skill .content li.no .i2,
.skillPanel .content li.no .i2,
.practice .content li.no .i3,
.inventory .content li.no .i3,
.interlocution .content li.no .i3,
.shop .content li.no .i3,
.skill .content li.no .i3,
.skillPanel .content li.no .i3 {
  color: #fff;
}
.practice .content li .i1,
.inventory .content li .i1,
.interlocution .content li .i1,
.shop .content li .i1,
.skill .content li .i1,
.skillPanel .content li .i1 {
  color: #ff6b81;
}
.practice .content li .i2,
.inventory .content li .i2,
.interlocution .content li .i2,
.shop .content li .i2,
.skill .content li .i2,
.skillPanel .content li .i2 {
  color: #1e90ff;
}
.practice .content li .i3,
.inventory .content li .i3,
.interlocution .content li .i3,
.shop .content li .i3,
.skill .content li .i3,
.skillPanel .content li .i3 {
  color: #487eb0;
}
.practice .content li .top,
.inventory .content li .top,
.interlocution .content li .top,
.shop .content li .top,
.skill .content li .top,
.skillPanel .content li .top {
  margin-bottom: .1rem;
}
.practice .content li .top span,
.inventory .content li .top span,
.interlocution .content li .top span,
.shop .content li .top span,
.skill .content li .top span,
.skillPanel .content li .top span {
  margin-right: .1rem;
  font-size: .12rem;
}
.practice .content li .bottom p,
.inventory .content li .bottom p,
.interlocution .content li .bottom p,
.shop .content li .bottom p,
.skill .content li .bottom p,
.skillPanel .content li .bottom p {
  line-height: 1.5;
}
/*# sourceMappingURL=./style.css.map */